@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap');


a:link {
	text-decoration:none;
	color: inherit;
}
a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
color: inherit;
}

body {
	background-color: #0b0e35;
	font-family: 'Poppins'!important;
}

.content {
	width:100%;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

#interview {
	background-color: #131646;
	height: auto;
	border-radius: 10px;
	color: white;
	box-shadow: 0px 5px 30px 2px rgba(0, 0, 0, 0.3);
	margin: 300px 0 30px 0;
	padding: 40px 40px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2)
}

#interview .image {
	background-image: url("https://ogimg.infoglobo.com.br/in/15892209-2b3-d96/FT1086A/652/x10348540_617281758340918_6571830444956390880_n.jpg.pagespeed.ic.zSpZlERvYf.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0px 5px 30px 2px rgba(0, 0, 0, 0.4);
}

#interview h1 {
	font-size: 35px;
	font-weight: bold;
}

#interview h1 b {
	color: #e22e77;
}

#interview span {
	color: #e22e77;
	font-weight: bold;
	font-size: 22px;
}

#left-side {
	background-color: #131646;
	width: 100%;
	height: 470px;
	border-radius: 10px;
	color: white;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 5px 30px 2px rgba(0, 0, 0, 0.3);	
}

#logo {
	background-image: url(../images/logo.png);
	width: 188px;
	height: 189px;
	position: absolute;
	left: calc(50% - 94.5px);
	top: -90px;
	z-index: 1;
}

#left-side #square {
	background-color: #e22e77;
	width: 500px;
	min-height: 300px;
	transform: rotate(8deg);
	margin-top: -20px;
	margin-left: -20px;
	position: relative;
}

#left-side #square .title {
	display: flex;
	flex-direction: column;
	max-width: 330px;
	transform: rotate(-8deg);
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	padding: 140px 0px 0px 50px;
	text-align: justify;
}

#left-side #square .title h1 {
	font-size: 22px;
	font-weight: bold;
}

#left-side #square .title p {
	font-size: 14px;
}

#left-side #player {
	position: absolute;
	bottom: -15px;
	left: 15px;
	display: flex;
	align-items:center;
}

#left-side #player .plataform {
	background-image: url(../images/plataform.png);
	background-repeat: no-repeat;
	width: 110px;
	height: 61px;
	position: relative;
}

#left-side #player .plataform .avatar {
	width: 128px;
	height: 220px;
	position: absolute;
	top: -185px;
	left: -20px;
}

#left-side #player .text {
	max-width: 200px;
	margin-top: -180px;
}

#left-side #player .text h1 {
	font-size: 16px;
	color: #e22e77;
	font-weight: bold;
}

#left-side #player .text h2 {
	font-size: 13px;
}

#left-side #player .text h2 span {
	font-size: 11px;
}

#left-side #player .text .buttons {
	display: flex;
}

#left-side #player .text .buttons button {
	background: transparent;
	border: solid 2px white;
	height: 35px;
	width: 35px;
	border-radius: 30px;
	color: white;
	text-align: center;
	padding: 0;
	outline: none;
	margin: 5px 10px 0 0;
	transition: all .2s;
}

#left-side #player .text .buttons button.play::before {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f04b";
}

#left-side #player .text .buttons button.play.pause::before {
	content: "\f04c";
}

#left-side #player .text .buttons button:hover {
	border-color: #e22e77;
	color: #e22e77;
}

#left-side #player .text .buttons button.listeners {
	width: 100px;
}

#chat {
	background-color: #131646;
	width: 100%;
	height: 470px;
	border-radius: 10px;
	color: white;
	padding: 25px 35px;
	box-shadow: 0px 5px 30px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;	
}


.overlay {
	background-color: rgba(226,46,119,0.8);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 15px;
	width:calc(100% - 30px);
	height:100%;
	border-radius: 10px;
	display: none;
}

.overlay > h1 {
	font-size: 48px;
	color: white;
	font-weight: bold;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}

#chat .title h1 {
	font-size: 28px;
	color: #e22e77;
	font-weight: bold;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

#chat .title p {
	font-size: 14px;
	color: white;
}

#chat .online {
	background-color: #e22e77;
	text-align: center;
	padding: 15px 20px;
	border-radius: 10px;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer; 
}

#chat .online i.on {
	color: #4cd137;
	padding-right: 10px;
	font-size: 12px;
}

#chat .online i.off {
	color: #EEE;
	padding-right: 10px;
	font-size: 12px;
}

#usersOnline .user {
	background-color: #EEE;
	border-radius: 10px;
	text-align: center;
	padding: 10px 15px 10px 15px;
	margin-bottom: 10px;
	transition: all 0.2s;
}

#usersOnline .user:hover {
	background-color: #131646;
}

#usersOnline .user:hover h1 {
	color: white;
}

#usersOnline .user h1 {
	font-size: 13px;
	color: #0b0e35;
	font-weight: bold;
	transition: all 0.2s;

}

#usersOnline .col-md-4 {
	padding-left: 0;
}

#chat #mission {
	border-radius: 10px!important;
}

#chat #messages ul {
	height: 280px;
	margin: 0;
	padding: 0 10px 0 0;
	list-style: none;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

#chat #messages ul::-webkit-scrollbar {
    width: 10px;
}

#chat #messages ul::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.4);
	border-radius: 10px;
}

#chat #messages ul::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.4);
	border-radius: 10px;
}

#chat #messages ul li {
	background-color: #3d417d;
	padding: 6px 24px 6px 9px;
	border-radius: 10px;
	color: white;
	display: flex;
  	align-items: center;
	margin-bottom: 10px;
	margin-right: auto;
	max-width: calc(100% - 45px);
	word-break: break-word;
}

#chat #messages ul li.mine {
	background-color: #e22e77;
	flex-direction: row-reverse;
	text-align: right;
	margin-right: 0;
	padding: 6px 9px 6px 24px;
	margin-left: auto;
}

#chat #messages ul li.mine .user {
	padding: 0 0 0 10px;	
}

#chat #messages ul li .user {
	padding: 0 10px 0 0;
}

#chat #messages ul li .autor {
	font-size: 12px;
	font-weight: bold;
}

#chat #messages ul li .said {
	font-size: 11px;
}

#chat #messages ul li .text {
	font-size: 12px;
}

#chat #inputs {
	margin-top: 20px;
}

#chat #inputs input, button {
	width: 100%;
	height: 40px;
	color: #131646;
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 12px;
}

#chat #inputs input.message {
	padding-left: 40px;
}

#chat #inputs button {
	width: 100%;
	background-color: #e22e77;
	color: white;
	font-weight: bold;
	transition: all 0.2s;
	outline: none;
}

#chat #inputs button:active {
	background-color: white;
	color: #e22e77;
}

#inputMessage {
	position: relative;
}

#inputMessage .emoji {
	position: absolute;
	color: grey;
	font-size: 15px;
	top: 10px;
	left: 15px;
}

#inputMessage .emoji i {
	cursor: pointer;
}

#inputMessage .emoji ul.emojiList {
	float: left;
	width: 100%;
	min-width: 180px !important;
	max-width: 180px;
	list-style: none;
	padding: 10px 10px 0px 20px;
}

#inputMessage .emoji ul.emojiList li {
	background-color: #EEE;
	width: calc(25% - 10px);
	padding: 3px 0;
	text-align: center;
	margin: 0 10px 10px 0;
	border-radius:10px;
	float: left;
	cursor: pointer;
}
#inputMessage .emoji ul.emojiList li:nth-last-child(1),
#inputMessage .emoji ul.emojiList li:nth-last-child(2),
#inputMessage .emoji ul.emojiList li:nth-last-child(3),
#inputMessage .emoji ul.emojiList li:nth-last-child(4) {
	margin-bottom: 0;
}

.development {
	margin: 30px 0 50px 0;
	text-align: center;
	color: #3d417d;
	font-size: 12px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.development a {
	color: #3d417d;
}

/* Bootstrap */
.col-md-3 {
	flex-shrink: 1;
	transition: all 250ms ease;
}
.col-md-12 {
	flex-grow: 1;
	transition: all 250ms ease;
}

.modal-content {
	border-radius: 12px;
}

.modal-header {
	background-color: #e22e77;
	border-radius: 10px 10px 0 0;
}

.modal-header .modal-title {
	color: white;
	font-weight: bold;
	padding-left: 10px;
}

.modal-header .modal-title i {
	padding-right: 10px;
}

.modal-body {
	padding-left: 30px;
}

.modal-footer button {
	background-color: #131646;
	border-radius: 10px;
	border: none;
	font-size: 13px;
	font-weight: bold;
}

.modal-footer button:hover, button:focus {
	background-color: #e22e77;
}

@media only screen and (max-width: 910px) {
	body{
		overflow: scroll;
	}

	.content {
		width:auto;
		height:auto;
		margin-top: 100px;
	}

	#left-side {
		margin-bottom: 20px;
	}

	#chat {
		height: auto;
	}
	
	#chat #messages ul {
	    display: inherit;
	}
	
	#chat #messages ul li {
	    width: max-content;
	}

	#chat input, button, #mission {
		margin-bottom: 10px;
	}

	#interview {
		margin-top: -40px;
	}

	.online {
		margin: 20px 0;
	}

	.development {
		margin: 30px 0;
	}
}
